{% extends 'base.html' %}

{% block title %}
  Index page
{% endblock %}

{% block content_title %}
  Main page
{% endblock%}

{% block content %}
<div class="col-md-offset-3 col-md-6">
  <p>DVD (an abbreviation of "digital video disc"[5] or "digital versatile disc")
  is a digital optical disc storage format invented and developed by Philips and
  Sony in 1995. The medium can store any kind of digital data and is widely used
  for software and other computer files as well as video programs watched using
  DVD players. DVDs offer higher storage capacity than compact discs while having
  the same dimensions.</p>

  <p>DVD (an abbreviation of "digital video disc"[5] or "digital versatile disc")
  is a digital optical disc storage format invented and developed by Philips and
  Sony in 1995. The medium can store any kind of digital data and is widely used
  for software and other computer files as well as video programs watched using
  DVD players. DVDs offer higher storage capacity than compact discs while having
  the same dimensions.</p>
</div>
{% endblock %}
